<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzy.mapper.BlogGoodMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qzy.pojo.BlogGoods">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="blog_if" property="blogId"/>
    </resultMap>
    <insert id="save">
        insert into bl_blog_goods(blog_id, user_id)
        values (#{blogId}, #{userId})
    </insert>
    <select id="getGoods" resultType="java.lang.Integer">
        select count(*)
        from bl_blog_goods
        where blog_id = #{blogId}
          and user_id = #{userId}
    </select>


</mapper>
