<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzy.mapper.SysTypeMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qzy.pojo.Type">
        <id column="type_id" property="typeId"/>
        <id column="type_name" property="typeName"/>
        <id column="type_blog_count" property="typeBlogCount"/>
        <id column="enable" property="enable"/>
        <id column="deleted" property="deleted"/>
    </resultMap>
    <insert id="save">
        insert into bl_type(type_name)
        values (#{typeName})
    </insert>
    <update id="update">
        update bl_type
        <set>
            <if test="typeName!=null and typeName!=''">
                type_name = #{typeName},
            </if>
            <if test="typeBlogCount!=null">
                type_blog_count = #{typeBlogCount},
            </if>
            <if test="enable!=null">
                enable = #{enable},
            </if>
        </set>
        where type_id = #{typeId}
    </update>
    <update id="delete">
        update bl_type
        set deleted = 1
        where type_id = #{typeId}
    </update>
    <select id="get" resultMap="BaseResultMap">
        select type_id,
               type_name,
               type_blog_count,
               enable
        from bl_type
        where type_id = #{typeId}
    </select>
    <select id="getAll" resultMap="BaseResultMap">
        select type_id,
               type_name,
               type_blog_count,
               enable
        from bl_type
        where deleted = 0
    </select>
    <select id="getByIds" resultMap="BaseResultMap">
        select type_id,
        type_name
        from bl_type
        where type_id in (
        <foreach collection="list" separator="," item="id">
            #{id}
        </foreach>
        )
    </select>

</mapper>

